@import "tailwindcss";

/* Background */
:root {
  --background: #c5b89d;
  --page-background: linear-gradient(
    135deg,
    #c5b89d 0%,
    #dfd6c3 52%,
    #bcb093 100%
  );
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #302254;
    --page-background: linear-gradient(
      135deg,
      #243a70 0%,
      #6a3e75 52%,
      #302254 100%
    );
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  background-image: var(--page-background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
